<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ForthERP" parallel="false">
    <listeners>
        <listener class-name="com.ecommerce.utils.AllureListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="My Tests">

        <classes>
            <class name="com.ecommerce.tests.LoginPageTest"/>
            <!-- Add more test classes as needed -->
        </classes>
    </test>
</suite>